TELEGRAM_BOT__root_password=My_SecReT_PaSSw0rd
TELEGRAM_BOT__bitmobile_host=http://server.example.com/my_server
TELEGRAM_BOT__telegram_bot_token=1111111111:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
TELEGRAM_BOT__admin_chat=2955
TELEGRAM_BOT__web_app_url=https://licbot.example.com/app
TELEGRAM_BOT__allowed_users=12345678,87654321
# TELEGRAM_BOT__proxy_url=socks5://user:pass@proxy.example.com:1080